{% extends 'base_template.html' %}

{% block content %}
<!-- Header -->
<header class="w3-container w3-pale-blue w3-center" style="padding:84px 16px">
    <h1 class="w3-margin w3-jumbo">West Haven Community IT Project</h1>
    <p class="w3-xlarge">Serving West Haven with the goal of promoting digital literacy and safe practices</p>
    <a href='/contact'> <button href='/Contact'class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-padding">Get in Contact</button>
    </a>
    </header>
   
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>The Internet is no longer a luxury . . .</h1>
        <h2 class="w3-padding-16 w3-text-teal">It is a necesity!</h2>
        <h3 class="w3-padding-16">Many aspects of modern life from personal banking, socializing, and 
            media are all becoming increasingly reliant on the internet. It is also increasingly reliant on
            ones ability to navigate the internet effectively. To find what you need and do what you want.</h3>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Our Mission: We know its not easy!</h1>
        <h3 class="w3-padding-32">For a lot of people, the Internet can be very nuanced and complicated topic. However it shouldn't be that way.
            Technology exists to enhance our lives, provide us conviencence, and connects us to the world.  
        </h3>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">Tip of the Day: Check out your devices Accesibility Settings! Phones, laptops, and tablets
        have features that can enlarge text, speech-to-text keyboards, and even virtual Magnifying Glass.
      </h1>
  </div>
{% endblock %}