{% extends 'base_template.html' %}


{% block content %}

<style>
  .w3-ul li {
    font-size: 20px; /* Set the font size as desired */
  }
</style>

<header class="w3-container w3-light-blue w3-center" style="padding-top:84px;padding-bottom:32px;padding: left 16px; x">
    <h2>Education and knowledge are your best defense against digital threats</h2>
    <h1> Stay informed, stay secure</h1>
</header>

<div class="w3-row-padding w3-padding-64">
  <div class="w3-content">
    <div class="w3-col s12 m4">
      <h1>Staying Safe</h1>
      <ul class="w3-ul w3-hoverable">
        <li>
            <a style='font-size: 24px;' href="https://ublockorigin.com/">uBlock Origin</a><br>
            Extensions are software that can attach to your browser. In this case they help with blocking
            advertising and limit web tracking. uBlock Origin is the most popular and works on most mainstream browsers.
        </li>
        <li>
            <a style='font-size: 24px;' href="https://www.cisa.gov/sites/default/files/publications/Cybersecurity%2520and%2520Older%2520Americans.pdf">
            CISA Quick Guide</a><br>
            A three page document of cybersecurity guidiance for older Americans that hits many key points. A must read for everyone. 
        </li>
        <li>
            <a style='font-size: 24px;' href="https://www.fbi.gov/how-we-can-help-you/scams-and-safety/common-scams-and-crimes/elder-fraud">Common Fraud Schemes</a><br>
            An FBI resource that details prevalent methods of fraud targeted towards older Americans.
        </li>
        <li>
            <a style='font-size: 24px;' href="https://staysafeonline.org/theft-fraud-cybercrime/phishing/">Quick Guide on Phishing</a><br>
            A quick read regarding how to identify and handle phishing events
        </li>
        
        <li>
            <a style='font-size: 24px;' href="https://www.identitytheft.gov">Victim of Identity Theft?</a><br>
            The U.S Governments one-stop resource for identity theft victims. We also advise to check out 
            the <a href="https://www.identitytheft.gov">recovery steps</a> to see what steps you need to take in order.
        </li>
        <li>
            <a style='font-size: 24px;' href=""></a><br>

        </li>  
      </ul>
    </div>
    <div class="w3-col s12 m4">
      <h1>Explore</h1>
      <ul class="w3-ul w3-hoverable">
        <li>
            <a style='font-size: 24px;' href="">Create Gmail Account</a><br>
            We recommend creating a Gmail account due to its convenience for signing in on various websites. 
            With a Gmail account, you can skip much of the account creation process for online services, 
            compared to other email providers like Yahoo and Outlook.
        </li>
        <li>
            <a style='font-size: 24px;' href="https://chat.openai.com/">ChatGPT</a><br>
            ChatGPT is an Artificial Intelligence Chatbot that is simple enough for everyday tasks and powerful 
            enough for complex questions and professional use. It can draft emails/texts, recommend what to cook, 
            help you negotiate a deal, coach you on your writing, and much, much more.
        </li>
        <li>
            <a style='font-size: 24px;' href="https://youtube.com">Youtube.com</a><br>
            The largest video sharing platform. Amazing resource for education, tutorials, and entertainment.
        </li>
        <li>
            <a style='font-size: 24px;' href="https://seniorplanet.org/">Seniorplanet.org</a><br>
            An AARP service that hosts online classes and resouces for their members.
            you may also check out <a href="aarp.org">AARP Website</a>
        </li>
        
      </ul>
    </div>
    <div class="w3-col s12 m4">
      <h1>Have Fun!</h1>
      <ul class="w3-ul w3-hoverable">
        <li>
            <a style='font-size: 24px;' href="https://www.nytimes.com/crosswords">New York Times Games</a><br>
            A small collection of games including the classics like Crossword and the new kid on the block, 
            <a href="https://www.nytimes.com/games/wordle/index.html">Wordle</a>  
          </li>
        <li>
          <a href="#">Link 10</a><br>
          Description 10
        </li>
        <li>
          <a href="#">Link 11</a><br>
          Description 11
        </li>
        <li>
          <a href="#">Link 12</a><br>
          Description 12
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
