{% extends "base_template.html" %}

{% block content %}

    <div class='w3-container w3-center w3-padding'>
        
        <p class='w3-container w3-center w3-xxxlarge w3-pastelblue' style="padding-top:84px; padding-bottom ; padding-left:64x;">
        Thanks for Getting in Touch!
        </p>
        
        <p class='w3-center w3-xxlarge w3-pastelblue' style="padding-top:42px; padding-left:16px;">
        We will get back to as soon as possible!
        </p>
        
        <p>For now please check out the resources page</p>
        
        <a href='/resources'> <button href='/Contact'class="w3-button w3-black w3-padding-large w3-xlarge w3-margin-top w3-padding">Resources</button>
        </a>

    </div>

{% endblock content %}