# Ignore database file
*.sqlite3

# Ignore environment configuration files
*.env

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore deployment files
deploy.sh
fabfile.py
.DS_Store
